page-login {

    .content {
        background-color: color($colors, black);
        color: color($colors, light);
        //text-decoration-color: color($colors, light);
    }
    
    
    a {
        text-decoration: none;
    }
    
    

    

}
