page-registration {

    a {
        text-decoration: none;
    }

    .content {
        background-color: color($colors, black);
        color: color($colors, light);
        //text-decoration-color: color($colors, light);
    }

}
